<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@*@ViewBag.Title -*@Grand Channel ERP System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/img/bitbug_favicon.ico" />
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div @*class="container"*@>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Grand Channel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("API Docs & Test", "", "Swagger", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Manage Users", "Management", "Account")</li>
                    <li>@Html.ActionLink("QBO Invoices", "ManageInvoices", "Customer")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div @*class="container body-content"*@ class="customizedcontainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Copyright © @DateTime.Now.Year Grand Channel Inc. All rights reserved. Version Beta V0.2.0</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<script src="~/Scripts/EditableSelect/dist/jquery-editable-select.min.js"></script>
<link href="~/Scripts/EditableSelect/dist/jquery-editable-select.min.css" rel="stylesheet">*@
<style>
    body {
        padding-top: 70px;
    }

    .error {
        color: red;
    }
</style>
@*@section scripts
    {
        <script>
            $(document).ready(function () {

                //获取QBO授权
                $("#li-connect").on("click", function () {
                    $.ajax({
                        type: "GET",
                        url: "/api/QuickBooksOnlineOAuth/",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (data) {
                            alert("success!");
                            $(window.location).attr('href', data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                                window.location.reload();
                            });
                        }
                    });
                });

            });
        </script>
    }*@
