
@*@{
    ViewBag.Title = "InventorySearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grand Channel ERP System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/img/bitbug_favicon.ico" />
    <meta name="description" content="The description of my page" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Grand Channel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        <h1>Third-party Logistics Distribution System</h1>
        <h2>Inventory Search</h2>

        <div class="maincontainer">
            <div>
                <input type="button" class="btn btn-default btn-back" value="<< Back" />
            </div>
            @*<div>
                <font id="orgCtns" color="orange"></font>
                <font id="availableCtns" color="green"></font>
                <font id="pickingCtns" color="red"></font>
                <font id="shippedCtns" color="blue"></font><br />
                <font id="orgPcs" color="orange"></font>
                <font id="availablePcs" color="green"></font>
                <font id="pickingPcs" color="red"></font>
                <font id="shippedPcs" color="blue"></font><br />
            </div>*@
            <div style="border:double">
                <h3 style="text-align:right;margin-right:20px">Search Filter</h3>
                <div style="margin:20px;text-align:right">
                    <text>End Date: </text><input type="date" id="input-date" class="input-sm" />
                    <text>Vendor: </text><select id="select-vendor" style="width:170px;height:30px"></select>
                    <input style="width:140px" id="input-container" class="input-sm" placeholder="Container" />
                    <input style="width:140px" id="input-po" class="input-sm" placeholder="Cut PO" />
                    <input style="width:140px" id="input-style" class="input-sm" placeholder="Style" />
                    <input style="width:140px" id="input-color" class="input-sm" placeholder="Color" />
                    <input style="width:140px" id="input-customer" class="input-sm" placeholder="Customer" />
                    <input style="width:140px" id="input-size" class="input-sm" placeholder="Size or Size Combo" />
                    <input style="width:140px" id="input-location" class="input-sm" placeholder="Location" />
                </div>
                <div style="text-align:right;margin-right:20px">
                    <input type="checkbox" id="check-isshipped" class="cb-selected" /> Display Picking&Shipped Items
                    <input type="checkbox" id="check-isreplenishment" class="cb-selected" /> Is Replenishment
                </div>
                <div style="text-align:right;margin:20px">
                    <button id="btn-search" class="btn btn-info">Search</button>
                    <button id="btn-export" class="btn btn-primary">Export Results as Excel File</button><br />
                </div>
            </div>
            <div>
                <table id="table" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Container</th>
                            <th>Vendor</th>
                            <th>Status</th>
                            <th>Range</th>
                            <th>PO</th>
                            <th>Style</th>
                            <th>Color</th>
                            <th>CC</th>
                            <th>Size</th>
                            <th>Pcs</th>
                            <th>Org Ctns</th>
                            <th>Org Pcs</th>
                            <th>Available Ctns</th>
                            <th>Picking Ctns</th>
                            <th>Shipped Ctns</th>
                            <th>Available Pcs</th>
                            <th>Picking Pcs</th>
                            <th>Shipped Pcs</th>
                            <th>Inbound Date</th>
                            <th>Allocated By</th>
                            <th>Batch</th>
                            <th>Location</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="10" style="text-align:right">Total:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; Copyright © @DateTime.Now.Year Grand Channel Inc. All rights reserved. Version Beta V0.1.3</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
<style>
    body {
        padding-top: 70px;
    }
</style>
<script>
    $(document).ready(function () {

        var table;
        var index;
        var orderType;
        var date = new Date();
        var today = date.getFullYear().toString() + "-" + ((date.getMonth() + 1) <= 9 ? '0' + (date.getMonth() + 1).toString() : (date.getMonth() + 1).toString()) + "-" + (date.getDate() <= 9 ? '0' + date.getDate().toString() : date.getDate().toString());

        $("#input-date").val(today);

        //动态获取Vendor数据
        $.ajax({
            type: "GET",
            url: "/api/uppervendor/?departmentCode=CD",
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#select-vendor").append("<option value='" + data[i] + "'>" + data[i] + "</option>");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                    window.location.reload();
                });
            }
        });

        //点击搜索，返回搜索结果
        $("#btn-search").on("click", function () {

            var container = $("#input-container").val() == '' ? "NULL" : $("#input-container").val().toString();
            var po = $("#input-po").val() == '' ? "NULL" : $("#input-po").val().toString();
            var style = $("#input-style").val() == '' ? "NULL" : $("#input-style").val().toString();
            var color = $("#input-color").val() == '' ? "NULL" : $("#input-color").val().toString();
            var customer = $("#input-customer").val() == '' ? "NULL" : $("#input-customer").val().toString();
            var size = $("#input-size").val() == '' ? "NULL" : $("#input-size").val().toString();
            var location = $("#input-location").val() == '' ? "NULL" : $("#input-location").val().toString();
            var isShipped = $("#check-isshipped").is(":checked");
            var isReplenishment = $("#check-isreplenishment").is(":checked");
            var vendor = $("#select-vendor option:selected").val();
            var endDate = $("#input-date").val();

            //var obj = {
            //    "container": container,
            //    "purchaseOrder": po,
            //    "style": style,
            //    "color": color,
            //    "customer": customer,
            //    "location": location
            //};

            var url = "/api/inventorysearch/?vendor=" + vendor + "&container=" + container + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&customer=" + customer + "&size=" + size + "&location=" + location + "&isShipped=" + isShipped + "&isReplenishment=" + isReplenishment + "&endDate=" + endDate;

            //alert(url);

            $.ajax({
                type: "GET",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                beforeSend: function () {
                    index =  layer.msg('Searching...', {
                        icon: 1,
                        shade: 0.01,
                        time: 99 * 1000
                    });
                },
                success: function (data) {
                    layer.close(index);

                    if (table) {
                        table.destroy();
                    }

                    table = $("#table").DataTable({
                        scrollCollapse: true,
                        scrollY: "600px",
                        scrollX: true,
                        iDisplayLength: 100,
                        data: data,
                        destroy: true,
                        columns: [
                            {
                                data: "container",
                                render: function (data) {
                                    if (data == undefined)
                                        return "<text>N/A</text>";
                                    else
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "vendor",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "status",
                                render: function (data) {
                                    if (data == "Picking") {
                                        return "<text style='color:Red'>" + data + "</text>";
                                    }
                                    else if (data == "Shipped") {
                                        return "<text style='color:Blue'>" + data + "</text>";
                                    }
                                    else if (data == "Put Back") {
                                        return "<text style='color:orange'>" + data + "</text>";
                                    }
                                    else {
                                        return "<text style='color:Green'>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "cartonRange",
                                render: function (data) {
                                    if (data == "Put Back")
                                    {
                                        isPutBack = true;
                                        return "<text>" + data + "</text>";
                                    }
                                    else if (data == undefined)
                                        return "<text>N/A</text>";
                                    else
                                        isPutBack = false;
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "purchaseOrder",
                                render: function (data) {
                                    return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "style",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "color",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "customerCode",
                                render: function (data) {
                                    if (data == undefined)
                                        return "<text>N/A</text>";
                                    else
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "sizeBundle",
                                render: function (data) {
                                    return "<font>" + data + "</font>";
                                }
                            },
                            {
                                data: "pcsBundle",
                                render: function (data) {
                                    if (data == undefined)
                                        return "<text>N/A</text>";
                                    else
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "cartons",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "quantity",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "availableCtns",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingCtns",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedCtns",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "availablePcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='green'>" + data + "</font>";
                                }
                            },
                            {
                                data: "pickingPcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='red'>" + data + "</font>";
                                }
                            },
                            {
                                data: "shippedPcs",
                                render: function (data) {
                                    if (data == 0)
                                        return "<font>" + data + "</font>";
                                    else
                                        return "<font color='blue' color='blue'>" + data + "</font>";
                                }
                            },
                            {
                                data: "inboundDate",
                                render: function (data) {
                                    return "<font>" + data.substring(0, 10) + "</font>";
                                }
                            },
                            {
                                data: "allocator",
                                render: function (data) {
                                    if (data == undefined)
                                        return "<text>N/A</text>";
                                    else
                                        return "<text>" + data + "</text>";
                                }
                            },
                            {
                                data: "batch",
                                render: function (data) {
                                    if (data == undefined) {
                                        orderType = "Replenishment";
                                        return "<text>N/A</text>";
                                    }
                                    else {
                                        orderType = "Regular";
                                        return "<text>" + data + "</text>";
                                    }
                                }
                            },
                            {
                                data: "location",
                                render: function (data) {
                                    return "<font color='orange'>" + data + "</font>";
                                }
                            },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<button iid='" + data + "' class='btn btn-link btn-history' ordertype='" + orderType + "' >History</button>";
                                }
                            }
                        ],
                        footerCallback: function (row, data, start, end, display) {

                            var api = this.api(), data;

                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            var totalOrgCtns = api
                                .column(10)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalOrgPcs = api
                                .column(11)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalAvaCtns = api
                                .column(12)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalPickingCtns = api
                                .column(13)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalShippedCtns = api
                                .column(14)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                            var totalAvaPcs = api
                                .column(15)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalPickingPcs = api
                                .column(16)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            var totalShippedPcs = api
                                .column(17)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            $(api.column(10).footer()).html("<font color='orange'>" + totalOrgCtns + "</font>");
                            $(api.column(11).footer()).html("<font color='orange'>" + totalOrgPcs + "</font>");
                            $(api.column(12).footer()).html("<font color='green'>" + totalAvaCtns + "</font>");
                            $(api.column(13).footer()).html("<font color='red'>" + totalPickingCtns + "</font>");
                            $(api.column(14).footer()).html("<font color='blue'>" + totalShippedCtns + "</font>");
                            $(api.column(15).footer()).html("<font color='green'>" + totalAvaPcs + "</font>");
                            $(api.column(16).footer()).html("<font color='red'>" + totalPickingPcs + "</font>");
                            $(api.column(17).footer()).html("<font color='blue'>" + totalShippedPcs + "</font>");

                            $("#orgCtns").html("Inbound Cartons: " + totalOrgCtns);
                            $("#orgPcs").html("Inbound Units: " + totalOrgPcs);
                            $("#availableCtns").html("Available Cartons: " + totalAvaCtns);
                            $("#availablePcs").html("Available Units: " + totalAvaPcs);
                            $("#pickingCtns").html("Picking Cartons: " + totalPickingCtns);
                            $("#pickingPcs").html("Picking Units: " + totalPickingPcs);
                            $("#shippedCtns").html("Shipped Cartons:" + totalShippedCtns);
                            $("#shippedPcs").html("Shipped Units:" + totalShippedPcs);
                        }
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });
        });

        //点击导出结果按钮，导出结果
        $("#btn-export").on("click", function () {
            var container = $("#input-container").val() == '' ? "NULL" : $("#input-container").val().toString();
            var po = $("#input-po").val() == '' ? "NULL" : $("#input-po").val().toString();
            var style = $("#input-style").val() == '' ? "NULL" : $("#input-style").val().toString();
            var color = $("#input-color").val() == '' ? "NULL" : $("#input-color").val().toString();
            var customer = $("#input-customer").val() == '' ? "NULL" : $("#input-customer").val().toString();
            var size = $("#input-size").val() == '' ? "NULL" : $("#input-size").val().toString();
            var location = $("#input-location").val() == '' ? "NULL" : $("#input-location").val().toString();
            var isShipped = $("#check-isshipped").is(":checked");
            var isReplenishment = $("#check-isreplenishment").is(":checked");
            var vendor = $("#select-vendor option:selected").val();
            var endDate = $("#input-date").val();

            var url = "/api/inventoryreportdownload/?vendor=" + vendor + "&container=" + container + "&purchaseOrder=" + po + "&style=" + style + "&color=" + color + "&customer=" + customer + "&size=" + size + "&location=" + location + "&isShipped=" + isShipped + "&isReplenishment=" + isReplenishment + "&endDate=" + endDate;

            $.ajax({
                type: "GET",
                url: url,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                beforeSend: function () {
                    layer.close(index);
                    index = layer.msg('Processing...', {
                        icon: 3,
                        shade: 0.01,
                        time: 99 * 1000
                    });
                },
                success: function (data) {
                    layer.alert("Success! File will download automatically.");
                    $(window.location).attr('href', "/api/downloadfile/?fullPath=" + encodeURIComponent(data));
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.alert(XMLHttpRequest.responseJSON.exceptionMessage, function () {
                        window.location.reload();
                    });
                }
            });
        });

        //点击历史按钮，进入当前对象的发货历史页面
        $("#table").on("click", ".btn-history", function () {
            var locationId = $(this).attr('iid');
            orderType = $(this).attr('ordertype');

            url = "/ThirdPartyLogistics/shipdetailhistory/?locationId=" + locationId + "&orderType=" + orderType;
            $(window.location).attr('href', url);
        });

        $(".btn-back").on("click", function () {
            window.history.back(-1);
        });
    });
</script>